<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Time Table</title>
</head>
<body>
    <h1 class="font-serif text-4xl mx-96 mt-4">Atma Ram Sanatan Dharma College</h1>
    <h2 class="font-serif text-1xl mx-96 mt-4">Time Table For The Year (July-December 2023 Session)</h2>
    <h3 class="font-sans text-1xl mx-3 mt-6">Course:  B.Sc.(H) Computr Science 3rd Sem</h3>
    <h4 class="font-sans text-1xl mx-3 mt-2">Department Computer Science</h4>
    <div >
        <table class="border-separate border border-slate-400 ...">
            <thead>
              <tr>
                <th  class="border border-slate-300 ...">Period/Day</th>
                <th class="px-10 border border-slate-300 ...">I <br>8:30</th>
                <th class="px-10 border border-slate-300 ...">II <br>9:30</th>
                <th class="px-10 border border-slate-300 ...">III <br>10:30</th>
                <th class="px-10 border border-slate-300 ...">IV <br>11:30</th>
                <th class="px-10 border border-slate-300 ...">V <br>12:30</th>
                <th class="px-10 border border-slate-300 ...">VI <br>1:30</th>
                <th class="px-10 border border-slate-300 ...">VII <br>2:30</th>
                <th class="px-10 border border-slate-300 ...">VIII <br>3:30</th>
                <th class="px-10 border border-slate-300 ...">IX <br>4:30</th>
               
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="border border-slate-300 ...">Monday</td>
                <td colspan="2" class="px-6 border border-slate-300 ...">Data Structures Lab CL4 (AG)</td>
                <td class="px-6 border border-slate-300 ..."></td>
                <td class="px-6 border border-slate-300 ..."></td>
                <td class="px-6 border border-slate-300 ..."></td>
                <td class="px-6 border border-slate-300 ..."></td>
                <td class="px-6 border border-slate-300 ...">Numercal Optimization Lab CL4 (LKS)(DS)</td>
                <td class="px-6 border border-slate-300 ...">Numercal Optimization Lab CL4 (LKS)</td>
                <td class="px-6 border border-slate-300 ..."></td>
                <td class="px-6 border border-slate-300 ..."></td>
              </tr>
              <tr>
                <td class="border border-slate-300 ...">Tuesday</td>
                <td class="px-6 border border-slate-300 ...">Data Structures Lab CL4 (AG)</td>
                <td class="px-6 border border-slate-300 ..."></td>
                <td class="px-6 border border-slate-300 ..."></td>
                <td class="px-6 border border-slate-300 ..."></td>
                <td class="px-6 border border-slate-300 ..."></td>
                <td class="px-6 border border-slate-300 ...">DSE-1 Data Analysis and Visualization-Theory(Room no-2)(JM)</td>
                <td colspan="2" class="px-6 border border-slate-300 ...">Data Structures-Theory (Room no-2)(AG)</td>
                <td class="px-6 border border-slate-300 ..."></td>
                <td class="px-6 border border-slate-300 ...">Numercal Optimization Theory (Room no-2)(LKS)</td>
              </tr>
              <tr>
                <td class="border border-slate-300 ...">Wednesday</td>
                <td colspan="2" class="px-6 border border-slate-300 ...">DSE-2 Microprocessor-Theory (Room no-2)(PJ)</td>
                <td class="px-6 border border-slate-300 ..."></td>
                <td colspan="2" class="px-6 border border-slate-300 ...">Numercal Optimization Theory (Room no-2)(LKS)</td>
                <td class="px-6 border border-slate-300 ..."></td>
                <td class="px-6 border border-slate-300 ..."></td>
                <td colspan="2" class="px-6 border border-slate-300 ...">Operating System-Theory (Rom no-4)(PJ)</td>
                <td class="px-6 border border-slate-300 ..."></td>
                <td colspan="2" class="px-6 border border-slate-300 ...">GE-Lab</td>
                <td class="px-6 border border-slate-300 ..."></td>
              </tr>
              <tr>
                <td class="border border-slate-300 ...">Thursday</td>
                <td colspan="2" class="px-6 border border-slate-300 ...">DSE-1 Data Analysis and Visualization-Theory(Room no-2)(JM)</td>
                <td class="px-6 border border-slate-300 ..."></td>
                <td class="px-6 border border-slate-300 ..."></td>
                <td class="px-6 border border-slate-300 ..."></td>
                <td class="px-6 border border-slate-300 ..."></td>
                <td class="px-6 border border-slate-300 ...">Operating System-Theory (Rom no-4)(PJ)</td>
                <td class="px-6 border border-slate-300 ...">Data Structures-Theory (Room no-2)(AG)</td>
                <td class="px-6 border border-slate-300 ...">DSE-2 Microprocessor-Theory (Room no-2)(UO)</td>
                <td class="px-6 border border-slate-300 ..."></td>
              </tr>
              <tr>
                <td class="border border-slate-300 ...">Friday</td>
                <td colspan="2" class="px-6 border border-slate-300 ...">Operating System Lab CL4 (Grp A+B)(PJ)(MY)</td>
                <td class="px-6 border border-slate-300 ..."></td>
                <td colspan="2" class="px-6 border border-slate-300 ...">DSE-1 Data Analysis and Visualization Lab CL4(Grp A+B)(JM)(VSD)</td>
                <td class="px-6 border border-slate-300 ..."></td>
                <td class="px-6 border border-slate-300 ..."></td>
                <td colspan="2" class="px-6 border border-slate-300 ...">SEC LAB</td>
                <td class="px-6 border border-slate-300 ..."></td>
                <td colspan="2" class="px-6 border border-slate-300 ...">VAC(Th)</td>
                <td class="px-6 border border-slate-300 ..."></td>
              </tr>
              <tr>
                <td  class="border border-slate-300 ..." >Saturday</td>
                <td colspan="2" class="px-6 border border-slate-300 ...">SEC LAB</td>
                <td class="px-6 border border-slate-300 ..."></td>
                <td colspan="2" class="px-6 border border-slate-300 ...">VAC LAB</td>
                <td class="px-6 border border-slate-300 ..."></td>
                <td class="px-6 border border-slate-300 ..."></td>
                <td colspan="2" class="px-6 border border-slate-300 ...">AEC</td>
                <td class="px-6 border border-slate-300 ..."></td>
                <td class="px-6 border border-slate-300 ..."></td>
                <td class="px-6 border border-slate-300 ..."></td>
              </tr>
              
            </tbody>
          </table>
    </div>
</body>
</html>